<div class="jumbotron cl-docs-header">
  <div class="container">
    <h1>组件</h1>
    <p>无数可复用的组件，包括字体图标、下拉菜单、导航、警告框、弹出框等更多功能。</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>更多条件按钮</h1>
          <div class="panel panel-default">
            <div class="panel-heading cl-example">
              <yn-ui-btn-more-con is-more="isShowMoreCon"></yn-ui-btn-more-con>
              <div>
                变量[isShowMoreCon]值：{{isShowMoreCon}}
              </div>
            </div>
            <div class="panel-body">
              <uib-tabset active="active" type="tabs">
                <uib-tab heading="html">
                  <pre>
                    <code class="html hljs code-area">
                      <div class="h-light"><yn-ui-btn-more-con is-more="isShowMoreCon"></yn-ui-btn-more-con></div>
                    </code>
                  </pre>
                </uib-tab>
                <uib-tab heading="js">
                  <pre>
                    <code class="js hljs">
                      <div class="h-light">
                        function ComponentCtrl($scope) {
                          // 是否显示更多条件
                          $scope.isShowMoreCon = false;
                        }
                      </div>

                    </code>
                  </pre>
                </uib-tab>
                <uib-tab heading="源码">
                  <pre>
                    <code class="js hljs">
                      <div class="h-light">
                        angular.module('yn.ui.buttons')
                        .directive('ynUiBtnMoreCon', function () {
                          return {
                              restrict: "AE",
                              scope: {
                                  isMore: "=?" //是否展示更多条件
                              },
                              // 设置模板
                              templateUrl: 'yn/templates/directives/buttons/morecondition/morecondition.html'
                          };
                        });
                      </div>

                    </code>
                  </pre>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <h4>参数</h4>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>参数</th>
              <th>类型</th>
              <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>isMore</td>
              <td><a href class="bg-green type-hint-boolean">boolean</a></td>
              <td>可绑定数据的angular表达式，控制是否显示“更多”条件，默认不显示</td>
            </tr>
            </tbody>
          </table>
          <h1>下拉选择</h1>
          <div class="panel panel-default">
            <div class="panel-heading cl-example">
              <div>
                <yn-ui-pc-select options="options"  placeholder="'请选择'" ng-model="selectedOptions" on-selected="onSelectedOption(options)"></yn-ui-pc-select>
              </div>
              <div>
                变量[selectedOptions]值：{{selectedOptions}}
              </div>
            </div>
            <div class="panel-body">
              <uib-tabset active="active" type="tabs">
                <uib-tab heading="html">
                  <pre>
                    <code class="html hljs code-area">
                      <div class="h-light"><yn-ui-btn-more-con is-more="isShowMoreCon"></yn-ui-btn-more-con></div>
                    </code>
                  </pre>
                </uib-tab>
                <uib-tab heading="js">
                  <pre>
                    <code class="js hljs">
                      <div class="h-light">
                        function ComponentCtrl($scope) {
                          // 是否显示更多条件
                          $scope.isShowMoreCon = false;
                        }
                      </div>

                    </code>
                  </pre>
                </uib-tab>
                <uib-tab heading="源码">
                  <pre>
                    <code class="js hljs">
                      <div class="h-light">

                      </div>

                    </code>
                  </pre>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <h4>参数</h4>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>参数</th>
              <th>类型</th>
              <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>isMore</td>
              <td><a href class="bg-green type-hint-boolean">boolean</a></td>
              <td>可绑定数据的angular表达式，控制是否显示“更多”条件，默认不显示</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="list-group">
        <a href="#" class="list-group-item active">更多条件按钮</a>
        <a href="#" class="list-group-item">...</a>
        <a href="#" class="list-group-item">...</a>
        <a href="#" class="list-group-item">...</a>
        <a href="#" class="list-group-item">...</a>
      </div>
    </div>
  </div>
</div>


